<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start" *ngIf="globaldata.id">
        <ion-back-button id="backbutton" defaulthref="menu/profile"></ion-back-button>
      </ion-buttons>
    <ion-title *ngIf="!globaldata.id">MEMBERSHIP FOR AGENCY</ion-title>
    <ion-title *ngIf="globaldata.id">EDIT PROFILE</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="logout()" *ngIf="!globaldata.id">
          <ion-icon slot="icon-only" name="power"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!-- <ion-card> -->
  <!-- <p text-center>{{data.name}}</p> -->
  <!-- <p text-center>{{data.email}}</p> -->
<!-- </ion-card> -->
<div  class="lable_float" *ngIf="wizardStep === 1">
    <div class="profilePic main-pic">
        <ion-row>
          <ion-col col-12 >
            <ion-list no-lines>
              <div class="main-picsss" id="back-ground">
                <!-- <ion-avatar item-start> -->
                  <img src="{{profilePicture}}" onerror="this.onerror=null;this.src='assets/imgs/profilepic.svg'" alt="Profile Pic">
                  <div class="red-cam" (click)="uploadPhoto()">
                    <ion-icon name="camera"></ion-icon>
                  </div>
                <!-- </ion-avatar> -->
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
  <ion-item style="margin-top:235px">
      <ion-label position="floating" >  Business Name</ion-label>
      <ion-input name="businessName" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" minlength="2" maxlength="30" ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >  Business Address</ion-label>
    <ion-input name="businessName" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" minlength="2" maxlength="30" ngModel required></ion-input>
</ion-item>
<ion-item class="f-item pad-pt">
  <ion-label position="floating" > Business Contact</ion-label>
  <ion-input type="tel" minlength="10" ngModel  maxlength="10" name="phoneNumber" required></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" > Business Email </ion-label>
  <ion-input type="email" name="email" ngModel required></ion-input>
</ion-item>

<h4 class="businesss_admin"> Business Admin</h4>
<ion-item>
  <ion-label position="floating" >  Admin Name</ion-label>
  <ion-input name="businessName" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" minlength="2" maxlength="30" ngModel required></ion-input>
</ion-item>
<ion-item class="f-item pad-pt">
  <ion-label position="floating" > Mobile Number</ion-label>
  <ion-input type="tel" minlength="10" ngModel  maxlength="10" name="phoneNumber" required></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" > Email </ion-label>
  <ion-input type="email" name="email" ngModel required></ion-input>
</ion-item>
</div>
<div padding class="lable_float" *ngIf="wizardStep === 2">
<h4>Terms and condtions</h4>

<p style="line-height:30px;">
  Terms of service are rules by which one must agree to abide in order to use a service. 
  Terms of service can also be merely a disclaimer, especially regarding the use of websites.
   Often times in the fine text there will be sentences saying that they are not responsible for any lost data,
    Terms of service are rules by which one must agree to abide in order to use a service. Terms of service can also be merely a disclaimer,
     especially regarding the use of websites. Often times in the fine text there will be sentences saying that they are not responsible for any lost data,
</p>
<div>
    <ion-checkbox color="primary" [(ngModel)]="termsandConditons" name="termsandConditons" class="terms_conditions"></ion-checkbox> 
    <span>Accept terms & conditions</span>
</div>
</div>
<div padding class="lable_float" *ngIf="wizardStep === 3">
    <div  class="main_check_Div" style="    margin-top: 26%;">
        <svg class="checkmark_success" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark_success__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark_success__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
        <!-- <button ion-button class="submit_appli" 
        (click)="submitApplication()">
        CLICK HERE TO
        <br /> GO LIVE</button> -->
        <p class="Congrats"> Membership completed  <br /> Successful </p>
        <!-- <p class="small_congrats">your property is now live.</p> -->
      </div>
    <div text-center>
        <ion-button  color="primary" (click)="completeMembership()" >GO TO DASHBOARD</ion-button>
    </div>
  </div>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="primary" *ngIf="wizardStep === 1"  >
            <ion-button (click)="gonext()" class="footer_subbtns" *ngIf="!globaldata.id">
              Next
              <ion-icon name="arrow-forward" class="hellos"></ion-icon>
            </ion-button>
            <ion-button (click)="gotoprofile()" class="footer_subbtns" *ngIf="globaldata.id">
                Save
                <ion-icon name="arrow-forward" class="hellos"></ion-icon>
                </ion-button>
          </ion-buttons>
          <ion-buttons slot="primary" *ngIf="wizardStep === 2" class="footer_butns">
              <ion-button (click)="gotoPreviousStep()" class="footer_subbtns">
                  <ion-icon name="arrow-back"  class="hellos"></ion-icon> 
                  Back
                </ion-button>
              <ion-button (click)="gonext()" class="footer_subbtns">
                Finish
                <!-- <ion-icon slot="icon-only" name="star"></ion-icon> -->
                <ion-icon name="arrow-forward" class="hellos"></ion-icon>
              </ion-button>
            </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  <!-- <ion-icon name="arrow-back"  class="hellos"></ion-icon> -->
  <!-- gotoPreviousStep -->