.active-item {
    border-left: 8px solid var(--ion-color-primary);
}
.profile {
    height: 104px;
    padding-top: 12px;
    // height: 140px;
    background: #20c659;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #20c659, #a8e063);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #20c659, #a8e063);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding-bottom: 10px;
    padding-left: 9px;
    padding-top:24px;
    display: inline-flex;
    width: 100%;
    img {
        width: 64px !important;
        border-radius: 50%;
        height: 64px !important;
        position: relative;
        left: 8px;
    }
    p{
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
        padding-top: 2px;
    }
  }