<ion-header>
    <ion-toolbar color="primary">
      <!-- <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> -->
      <ion-title>DASHBOARD</ion-title>
      <div  class="side_menuStl">
          <ion-label>
                    <img id="menu_forGlobal"  src="https://ionicframework.com/docs/demos/api/card/madison.jpg" class="headerProfile_img"/>
                   <span class="name_menu">AJ Chand</span>
                 <ion-select class="menu_select" style="height: 0px;"  [(ngModel)]="selectedMenu" (ionChange)="selectMenuOptions($event.target.value)" multiple="false" interface="popover">
                   <ion-select-option *ngFor="let menu of menuOptions" [value]="menu" >{{menu}}</ion-select-option>
                 </ion-select>
               </ion-label>
               </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
<!-- <p text-center>Welcome to Dashboard</p> -->

<br>

    <ion-card class="card_dashboard">
        <ion-card-header class="backgrey">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-subtitle >Alert          
              <p text-end class="right_alignflot">22</p>
            </ion-card-subtitle>
            <!-- <ion-card-title>Card Title</ion-card-title> -->
          </ion-card-header>
        <ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
          <ion-card-subtitle>Messages           
            <p text-end class="right_alignflot">5</p>
          </ion-card-subtitle>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>
        <ion-card-header class="backgrey">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-subtitle >Jobs        
              <p text-end class="right_alignflot">12</p>
            </ion-card-subtitle>
            <!-- <ion-card-title>Card Title</ion-card-title> -->
          </ion-card-header>
          <ion-card-header>
              <ion-ripple-effect></ion-ripple-effect>
              <ion-card-subtitle>Agents
                <p text-end class="right_alignflot">28</p>
              </ion-card-subtitle>
              <!-- <ion-card-title>Card Title</ion-card-title> -->
            </ion-card-header>
      </ion-card>
      <ion-card class="card_dashboard">
      <ion-row>
        <ion-col col-6 class="col_border_left">
            <ion-ripple-effect></ion-ripple-effect>
          <h2 class="prop_count" text-center>1123</h2>
    <p text-center class="prop_titl">Properties</p>
        </ion-col>
        <ion-col col-6>
     <div>
        <ion-ripple-effect></ion-ripple-effect>
        <h2 text-center>11</h2>
  <p text-center>Vacant</p>
     </div>
      <hr>
     <div>
        <h2 text-center>113</h2>
      <p text-center>Live</p>
     </div>
          </ion-col>
      </ion-row>
    </ion-card>
  </ion-content>
  