<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>PROPERTIES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<div style="padding-bottom: 50px;">
    <ion-card routerLink="/submenu/first">
      <ion-card-header>
        <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
      </ion-card-header>
      <ion-card-content>
        <ion-card-title style="font-size: 18px"
          >19 carlton street nsw 2012</ion-card-title
        >
        <ion-card-subtitle class="ios hydrated" role="heading" aria-level="3"
          >granvell</ion-card-subtitle
        >
       
      </ion-card-content>
    </ion-card>
    <ion-card routerLink="/submenu/first">
      <ion-card-header>
        <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
      </ion-card-header>
      <ion-card-content>
        <ion-card-title style="font-size: 18px"
          >19 carlton street nsw 2012</ion-card-title
        >
        <ion-card-subtitle class="ios hydrated" role="heading" aria-level="3"
          >granvell</ion-card-subtitle
        >
      </ion-card-content>
    </ion-card>
    <ion-card routerLink="/submenu/first">
      <ion-card-header>
        <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
      </ion-card-header>
      <ion-card-content>
        <ion-card-title style="font-size: 18px"
          >19 carlton street nsw 2012</ion-card-title
        >
        <ion-card-subtitle class="ios hydrated" role="heading" aria-level="3"
          >granvell</ion-card-subtitle
        >
      </ion-card-content>
    </ion-card>
</div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/menu/first/tabs/Properties/addProperty']" routerLinkActive="router-link-active" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>