<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaulthref=""></ion-back-button>
          </ion-buttons>
      <ion-title>JOBS</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-card class="padd_agent">
        <div class="list_item" >
            <ion-thumbnail slot="start">
              <!-- <img src="assets/imgs/profilepic.svg" class="agent_image"> -->
              <img src="assets/icon/instarent_icon.png" class="agent_image">
            </ion-thumbnail>
            <ion-label>
              <h4 class="h4_agent">Instarent Agent </h4>
              <p class="agent_type">19 crlton street nsw</p>
              <p text-end class="right_alignflot">22</p>
            </ion-label>
          </div>
    </ion-card>
      <!-- <div class="aligin_dv">
          <p class="first_hed">Properties</p>
          <p  text-end class="jobs_v">Jobs</p>
        </div> -->
  <ion-card class="propertyCards"  *ngFor="let property of agentProperties; let i =index;" > 
    <ion-card-header class="backgrey"  >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-subtitle >Complete General inspection scheduled on 26th May 2019 for property 19 carlton st Granville .   
       
        </ion-card-subtitle>
           <p class="postion_action">withdrawn by Jason</p>
      </ion-card-header>
  </ion-card> 
  </ion-content>