<!-- <ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>subtab1</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar color="primary">
      <!-- <ion-buttons slot="end">
          <ion-back-button defaulthref="/menu/first/tabs/tab1/details"></ion-back-button>
        </ion-buttons> -->
        <ion-icon name="arrow-back" class="back_arrow_common"  routerLink="/menu/first/tabs/Properties"></ion-icon>
    <ion-title>Sub Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  My first tab content
  <!-- <ion-button color="tertiary" expand="block" (click)="goToPlanets()" ></ion-button> -->
  <ion-button color="tertiary" expand="block" routerLink="/menu/first/tabs/Properties" >
    Details forward
  </ion-button>
 
</ion-content>
