
<ion-header>
  <ion-toolbar color="primary" >
        <ion-icon slot="start" name="arrow-back" class="back_arrow_common"  routerLink="/menu/first/tabs/Properties"></ion-icon>
    <ion-title style="padding-left: 25%;">DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  My first tab content
  <!-- <ion-button color="tertiary" expand="block" (click)="goToPlanets()" ></ion-button> -->
  <ion-button color="tertiary" expand="block" routerLink="/menu/first/tabs/Properties" >
    Details forward
  </ion-button>
</ion-content>
