ion-title{
    text-align: center;
}



.tabss-colhover{
    border-bottom: 4px solid #ffffff !important;
    text-align: center;
    color: #fff !important;
    font-weight: 600;
} 
.maintain_m{
    height: auto;
    overflow-y: scroll;
    padding: 4px;
    padding-bottom: 60px;
    display: block;
}
.tabss-row{
    // height: 52px;
    // background-color: #3bdc7e !important;
    // color: #fff;
    // font-size: 16px;
    // font-weight: 400;
    // width: 100%;
    // text-align: center;
    // z-index: 10;
    height: 48px;
    background-color: #3bdc7e !important;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    z-index: 10;
}
.row_ffot{
    padding: 8px;
    text-align: center;
    border-top: 1px solid #f9f7f7;
}
.font-icons{
    font-size: 22px;   
     color: #989aa2;
}
.propertyHeda{
    font-size: 18px;
    line-height: 28px;
    padding: 30px 30px 30px 30px;
    text-align: start;
}
.tabss-col{
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 10px;
}
.slide_div{
    padding-bottom: 50px;
    width: 100%;
}
.searchbar_vld{
    text-align: start;
}
.slideDisplay{
    display: none;
}


// }