<!-- <ion-header id="globalMenu">
    <ion-toolbar color="primary">
      <ion-title class="menu_tile"></ion-title>
      <div  class="side_menuStl">
   <ion-label>
             <img id="menu_forGlobal"  src="https://ionicframework.com/docs/demos/api/card/madison.jpg" style="width:40px;border-radius: 50%;height:40px;"/>
            <span class="name_menu">AJ Chand</span>
          <ion-select class="menu_select" style="height: 0px;"  [(ngModel)]="selectedMenu" (ionChange)="selectMenuOptions($event.target.value)" multiple="false" interface="popover">
            <ion-select-option *ngFor="let menu of menuOptions" [value]="menu" >{{menu}}</ion-select-option>
          </ion-select>
        </ion-label>
        </div>
    </ion-toolbar>
  </ion-header> -->

<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="Dashboard">
        <ion-icon name="podium"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Properties">
      <ion-icon name="home"></ion-icon>
      <ion-label>Properties</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Agents">
      <ion-icon name="people"></ion-icon>
      <ion-label>Agents</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Chat">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="Chat">
        <ion-icon name="star"></ion-icon>
        <ion-label>MORE</ion-label>
      </ion-tab-button> -->
  </ion-tab-bar>
 
</ion-tabs>
