<!-- <ion-header>
  <ion-toolbar>  	
  	<ion-buttons>
      <ion-icon name="funnel"></ion-icon>
    </ion-buttons>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>


<div class="regis-header">
  <img src="assets/imgs/instarentlogoupdated.png" class="ten_tom" />
</div>
<!-- <ion-button color="tertiary" expand="full" (click)="detailswithqueryparams()">details with queryparams</ion-button>
<ion-button color="tertiary" expand="full" (click)="detailswithservice()">details with service</ion-button>
<ion-button expand="full" color="secondary" (click)="detailswithstate()" >details with state</ion-button>

<br> <br> -->
<ion-button expand="full" color="secondary" (click)="signIn()" >Sign In</ion-button>
<br>
<p text-center>or</p>
<br>
<ion-button expand="full" color="secondary" (click)="signUp()" >Sign Up</ion-button>
</ion-content>
