<ion-content padding>
  <div class="trend_home">
    <div class="regis-header">
      <img src="assets/imgs/icon.png" class="ten_tom" />
    </div>
    <p class="agency_test">Property Agency</p>
    <ion-button expand="full" id="trend_logg_btn" shape="round" color="primary" (click)="signIn()">
        <ion-ripple-effect></ion-ripple-effect>Sign In</ion-button>
    <p class="or_center" text-center>OR</p>
    <ion-button expand="full" id="trend_logg_btn" shape="round" color="primary" (click)="signUp()">  <ion-ripple-effect type="unbounded"></ion-ripple-effect>Sign Up</ion-button>
  </div>
</ion-content>
<!-- expand="block" -->
