<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaulthref=""></ion-back-button>
          </ion-buttons>
      <ion-title>AGENTS</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/menu/first/tabs/Agents/addAgents']" routerLinkActive="router-link-active" >
          <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
