ion-title{
    text-align: center;
}


.list_item{
 margin-bottom: 12px;
}
.status_list{
    // position: absolute;
    // right: 20px;
    // top: 6px;
    // background: #aebdc7;
    // padding: 7px 18px;
    // border-radius: 14px;
    // color: #fff;
    // font-size: 11px;

    position: absolute;
    right: 20px;
    top: 6px;
    background: #ffffff;
    padding: 7px 18px;
    border-radius: 14px;
    color: #272626;
    font-size: 11px;
    box-shadow: 1px 1px 1px 1px #efe9e9;
}
.agent_image{
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

//     ion-item {
//         padding-bottom: 12px;
// } 
.invites_v{
    text-align: end;
    margin-right: 32px;
    margin-bottom: 2px;
    line-height: 21px;
    margin-top: 12px;
    display: inline-flex;
    width: 100%;
    margin-left: 74%;
}
.invites_txt{
    position: relative;
    top: 0px;
    left: 4px;
    margin-top: 0px;
}