<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaulthref=""></ion-back-button>
          </ion-buttons>
      <ion-title>FORGOT PASSWORD</ion-title>
    </ion-toolbar>
  </ion-header>
    <!-- <ion-content padding class="regis-content" id="cont-tent">
      <div class="regis-header">
        <img src="assets/images/svg/instarentlogoupdated.png" style="width:58%;height: 10%;" />
      </div>
      <div>
        <div class="registration-step" *ngIf="wizardStep == 1">
          <div>
            <div class="registration-step">
              <div class="header">
                Verify Your Email
              </div>
              <form class="green-form">
                <div>
                  <ion-item class="in-item">
                    <ion-icon class="icons-in" item-start name="mail"></ion-icon>
                    <ion-input type="text" style="text-transform: lowercase;" autocapitalize="off" class="alt-jet" name="userEmail" placeholder="Enter your email"
                      [(ngModel)]="userEmail"></ion-input>
                  </ion-item>
                </div>
                <div class="btn ram-cls">
                  <button ion-button block class="button-md-secondary get-otpbtnn " type="submit" [disabled]="!userEmail"
                    (click)="checkUserEmail()">Verify</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="wizardStep == 2">
          <div class="registration-step">
            <div class="header2">
              Enter the code sent to your registered <br> Email 
           </div>
            <form class="for-text">
              <div>
                <ion-item>
                  <ion-input class="otp-input te-t" placeholder=" Enter Four Digit Verification Code" type="tel"
                    minlength="4" maxlength="4" name="otp" [(ngModel)]="userOTP"></ion-input>
                </ion-item>
              </div>
              <div class="otp-label">
                <a (click)="resendOtp()"> Resend Verification Code ? </a>
              </div>
              <div class="btns">
                <button ion-button block class="button-md-secondary sub-tagbtn" type="submit"
                  (click)="checkOtp()">SUBMIT</button>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="wizardStep == 3">
          <div>
            <div class="registration-step">
              <div class="header">
                Create New Password
              </div>
              <div>
                <div class="max-mac">
                  <ion-list style="position:relative;    padding: 2px 23px 0px 23px;">
                    <ion-item>
                      <ion-label stacked>New Password</ion-label>
                      <ion-input [type]="show ? 'text' : 'password'" [(ngModel)]="newPassword1"
                        placeholder="Enter New Password" (keyup)="checkPassword()"></ion-input>
                    </ion-item>
                    <ion-icon *ngIf="show" name="eye" class="eye-cls" (click)="showpassword()"></ion-icon>
                    <ion-icon *ngIf="!show" name="eye-off" class="eye-cls" (click)="showpassword()"></ion-icon>
                    <p *ngIf="formatMatch==1" style="padding-left: 20px;color: red;margin-top: 0px;text-align: start;">Password must contain
                      at least six characters,
                      including special character, uppercase, lowercase letters and numbers.</p>
                    <ion-item>
                      <br>
                      <ion-label stacked>Confirm Password</ion-label>
                      <ion-input type="password" [(ngModel)]="newPassword2" placeholder="Confirm Password"
                        (keyup)="checkPassword()"></ion-input>
                    </ion-item>
                    <p *ngIf="isMatch==0" style="padding-left: 20px;color: red;text-align: start;">password doesn't match
                    </p>
                    <p *ngIf="isMatch==1" style="padding-left: 20px;color: green;text-align: start;">password matched</p>
                  </ion-list>
                  <button type="submit" color="secondary" ion-button full class="button-md-secondary demonty-tbtn"
                    style="width:95% !important" (click)="updatePassword()" [disabled]="isMatch==0||isMatch==2">Change
                    Password</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="wizardStep == 4" class="registration-step">
          <div class="success">
            <ion-icon name="checkmark-circle"></ion-icon>
          </div>
          <div class="header3">
            Password Update
            <br /> Successful
          </div>
          <div>
            <button ion-button class="button-md-secondary sign-change" type="submit" (click)="gotoSignin()">login</button>
          </div>
        </div>
      </div>
    </ion-content> -->
