<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button id="backbutton" defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>FORGOT PASSWORD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="regis-content" id="cont-tent">
      <div class="regis-header" *ngIf="wizardStep != 4">
        <img src="assets/imgs/instarentlogoupdated.png" style="width:58%;height: 10%;" />
      </div>
      <div>
        <div class="registration-step" *ngIf="wizardStep == 1">
          <div>
            <div class="registration-step">
              <div class="header">
                Verify Your Email
              </div>
              <form class="green-form">
                <div>
                  <ion-item class="lable_float">
                      <ion-label position="floating" > <ion-icon  item-start name="mail" ></ion-icon>Email </ion-label>
                      <ion-input type="email" style="text-transform: lowercase;"  pattern=""  autocapitalize="off" name="userEmail" [(ngModel)]="userEmail" required></ion-input>
                    </ion-item>
                </div>
                <div class="btn ram-cls">
                    <ion-button type="submit" [disabled]="!userEmail" (click)="checkUserEmail()" expand="block" >Verify</ion-button>

                </div>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="wizardStep == 2">
          <div class="registration-step">
            <div class="header2">
              Enter the code sent to your registered <br> Email 
           </div>
            <form class="for-text">
              <div>
                <ion-item class="f-item pad-pt">
                    <ion-input class="otp-input te-t" type="tel"  minlength="4" maxlength="4" name="otp" [(ngModel)]="userOTP" name="userOTP"  required></ion-input>
                  </ion-item>


              </div>
              <div class="otp-label">
                <a (click)="resendOtp()"> Resend Verification Code ? </a>
              </div>
              <div class="btns">
                <!-- <button ion-button block class="button-md-secondary sub-tagbtn" type="submit"
                  (click)="checkOtp()">SUBMIT</button> -->
                  <ion-button type="submit" (click)="checkOtp()" class=" sub-tagbtn" expand="block" >Verify</ion-button>

              </div>
            </form>
          </div>
        </div>
        <div *ngIf="wizardStep == 3">
          <div>
            <div class="registration-step">
              <div class="header">
                Create New Password
              </div>
              <div>
                <div class="max-mac">
                  <ion-list style="position:relative;    padding: 2px 23px 0px 23px;">
                  
                    <div style=position:relative>
                        <ion-item>
                            <ion-label position="floating" >New Password</ion-label>
                            <ion-input [(ngModel)]="newPassword1" [type]="passwordType" clearOnEdit="false" name="userPassword"></ion-input>
                        </ion-item>
                       <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                    </div>


                   <!-- <p *ngIf="formatMatch==1" style="padding-left: 20px;color: red;margin-top: 0px;text-align: start;">Password must contain
                      at least six characters,
                      including special character, uppercase, lowercase letters and numbers.</p> -->
                      <div style=position:relative>
                      <ion-item>
                          <ion-label position="floating" >Confirm Password</ion-label>
                          <ion-input [(ngModel)]="newPassword2" [type]="passwordType" (keyup)="checkPassword()" clearOnEdit="false" name="userPassword"></ion-input>
                      </ion-item>
                     <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                    </div>
                    <p *ngIf="isMatch==0" style="padding-left: 20px;color: red;text-align: start;">password doesn't match
                    </p>
                    <p *ngIf="isMatch==1" style="padding-left: 20px;color: green;text-align: start;">password matched</p>
                  </ion-list>
                  <!-- <button type="submit" color="secondary" ion-button full class="button-md-secondary demonty-tbtn"
                    style="width:95% !important" (click)="updatePassword()" >Change
                    Password</button> -->
                    <ion-button type="submit" (click)="updatePassword()" class=" sub-tagbtn" expand="block" >Verify</ion-button>

                    <!-- [disabled]="isMatch==0||isMatch==2" -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="wizardStep == 4" class="registration-step">
          <div  class="main_check_Div">
              <svg class="checkmark_success" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark_success__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark_success__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
              <!-- <button ion-button class="submit_appli" 
              (click)="submitApplication()">
              CLICK HERE TO
              <br /> GO LIVE</button> -->
              <p class="Congrats"> Password Update  <br /> Successful </p>
              <!-- <p class="small_congrats">your property is now live.</p> -->
            </div>
          <div>
              <ion-button type="submit" class="succes_login" (click)="gotoSignin()" >Login</ion-button>
            <!-- <button ion-button class="button-md-secondary sign-change" type="submit" (click)="gotoSignin()">login</button> 
            
 [routerLink]="['/home',{'from':'forgot'}]"  routerLinkActive="router-link-active"  
            -->
          </div>
        </div>
      </div>
    </ion-content>