// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
 
//back arrow start
.back_arrow_common{
    font-size: 33px;
}
//back arrow end

// global modules menus start

.side_menuStl{
    background: transparent;
    /* width: 118px; */
    float: right;
    height: 55px;
    padding-top: 8px;
    padding-right: 10px;
}
.menu_tile{
    height: 65px;
}
.menu_iconss{
    position: relative;
    top: 10px;
    font-size: 34px;
    left: 14px;
}
.name_menu{
    position: relative;
    top: -15px;
    left: 6px;
    font-weight: 500;
}
.menu_select{
    height: 0px;
    position: relative;
    top: -27px;
    /* padding: 20px; */
    /* width: 120px; */
    left: 27px;
}

// global module menus end here
:host(.ion-focused) .item-native {
    background: #fdfdfd;
}
:host #trend_logg_btn  .button-native{
    background: linear-gradient(to bottom, #4aad54, #a8e063);
}
    // success message styles start here
    .main_check_Div {
        height: 100%;
    }

    .Congrats {
        font-size: 30px;
        text-align: center;
        position: relative;
        top: 26%;
        color: #7ac141;
    }

    .small_congrats {
        font-size: 19px;
        text-align: center;
        position: relative;
        top: 26%;
        color: #9e9898;
    }

    .checkmark_success {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: block;
        stroke-width: 3px;
        stroke: #fff;
        stroke-miterlimit: 10;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
        background: #7ac142;
        margin: auto;
        position: relative;
        top: 25%;
    }

    .checkmark_success__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

    .checkmark_success__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes scale {

        0%,
        100% {
            transform: none;
        }

        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
    }

    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #7ac142;
        }
    }
    // sucess message styles end here

    //profile view css / membership image upload view css
// for camera icon
    .red-cam {
        width: 47px !important;
        height: 47px !important;
        background-color: #4caf50;
        color: #f1e6e6;
        position: relative;
        top: -49px !important;
        right: -85px !important;
        padding-left: 10px !important;
        padding-top: 9px !important;
        border-radius: 50%;
        font-size: 27px;
        // border: 2px solid #ece9e9;
        background-color: rgba(0, 0, 0, 0.4);
    }
    //profile image div
    .main-picsss{
        margin: 0 auto;
        width: 150px;
        background: transparent !important;
        padding-top: 45px;
        padding-left: 0px !important;
        border-bottom: 0px;
        img {
            width: 130px;
            height: 130px;
        }
    }